<img src="https://th.bing.com/th/id/R.3cd1c8dc996c5616cf6e65e20b6bf586?rik=09aaLyk4hfbBiQ&riu=http%3a%2f%2fcidics.uanl.mx%2fwp-content%2fuploads%2f2016%2f09%2fcimat.png&ehk=%2b0brgMUkA2BND22ixwLZheQrrOoYLO3o5cMRqsBOrlY%3d&risl=&pid=ImgRaw&r=0" 
     style="float: right; margin-right: 30px;" 
     width="120"
     />

---
 
# **EZAU FARIDH TORRES TORRES**

     
<p align="right"> Maestría en Ciencias con Orientación en Matemáticas Aplicadas. </p>
<p align="right"> CENTRO DE INVESTIGACIÓN EN MATEMÁTICAS. </p>
<p align="right"> Fecha: 10/08/2025. </p>


---

### **Imports**

In [1]:
# !pip install scikit-learn numpy pandas
import pandas as pd
import numpy as np
from pathlib import Path

#pd.set_option("display.max_columns", 100)
SEED = 0

In [2]:
path = Path("./data/fraud_train.csv") # data path.
df = pd.read_csv(path)                # read data
print("Shape :",df.shape)
print("Dtypes:\n",df.dtypes)

Shape : (5000, 30)
Dtypes:
 ID                      object
Month                   object
WeekOfMonth              int64
DayOfWeek               object
Make                    object
AccidentArea            object
DayOfWeekClaimed        object
MonthClaimed            object
WeekOfMonthClaimed       int64
Sex                     object
MaritalStatus           object
Fault                   object
PolicyType              object
VehicleCategory         object
VehiclePrice            object
FraudFound_P             int64
Deductible               int64
Days_Policy_Accident    object
Days_Policy_Claim       object
PastNumberOfClaims      object
AgeOfVehicle            object
AgeOfPolicyHolder       object
PoliceReportFiled       object
WitnessPresent          object
AgentType               object
NumberOfSuppliments     object
AddressChange_Claim     object
NumberOfCars            object
Year                     int64
BasePolicy              object
dtype: object

In [3]:
def print_uniques(df):
    for i in df.columns:
        print(i, df[i].unique())

print_uniques(df)

ID ['CL00007646' 'CL00009711' 'CL00010809' ... 'CL00007097' 'CL00002875'
 'CL00003330']
Month ['Aug' 'Dec' 'Feb' 'Jun' 'Jan' 'Nov' 'Jul' 'May' 'Oct' 'Sep' 'Mar' 'Apr']
WeekOfMonth [4 2 3 1 5]
DayOfWeek ['Friday' 'Tuesday' 'Sunday' 'Monday' 'Thursday' 'Wednesday' 'Saturday']
Make ['Honda' 'Chevrolet' 'Pontiac' 'Toyota' 'Mazda' 'Ford' 'Accura' 'Mercury'
 'VW' 'Saturn' 'Dodge' 'Saab' 'BMW' 'Nisson' 'Porche' 'Ferrari' 'Jaguar'
 'Mecedes']
AccidentArea ['Urban' 'Rural']
DayOfWeekClaimed ['Monday' 'Wednesday' 'Thursday' 'Tuesday' 'Friday' 'Saturday' 'Sunday'
 '0']
MonthClaimed ['Aug' 'Dec' 'Feb' 'Jul' 'Jan' 'Jun' 'Nov' 'Oct' 'Mar' 'May' 'Sep' 'Apr'
 '0']
WeekOfMonthClaimed [5 3 4 2 1]
Sex ['Male' 'Female']
MaritalStatus ['Married' 'Single' 'Divorced' 'Widow']
Fault ['Policy Holder' 'Third Party']
PolicyType ['Sedan - All Perils' 'Sedan - Collision' 'Sedan - Liability'
 'Sport - Collision' 'Utility - All Perils' 'Utility - Collision'
 'Utility - Liability' 'Sport - All Perils' 'Sport - Liability']
VehicleCategory ['Sedan' 'Sport' 'Utility']
VehiclePrice ['30000 to 39000' '20000 to 29000' 'less than 20000' 'more than 69000'
 '40000 to 59000' '60000 to 69000']
FraudFound_P [0 1]
Deductible [400 500 700 300]
Days_Policy_Accident ['more than 30' 'none' '1 to 7' '8 to 15' '15 to 30']
Days_Policy_Claim ['more than 30' '15 to 30' '8 to 15' 'none']
PastNumberOfClaims ['1' '2 to 4' 'none' 'more than 4']
AgeOfVehicle ['7 years' '5 years' '6 years' '3 years' 'more than 7' 'new' '2 years'
 '4 years']
AgeOfPolicyHolder ['36 to 40' '31 to 35' '41 to 50' '18 to 20' '51 to 65' 'over 65'
 '26 to 30' '16 to 17' '21 to 25']
PoliceReportFiled ['No' 'Yes']
WitnessPresent ['No' 'Yes']
AgentType ['External' 'Internal']
NumberOfSuppliments ['1 to 2' 'none' 'more than 5' '3 to 5']
AddressChange_Claim ['4 to 8 years' 'no change' '2 to 3 years' '1 year' 'under 6 months']
NumberOfCars ['2 vehicles' '1 vehicle' '3 to 4' '5 to 8']
Year [1994 1996 1995]
BasePolicy ['All Perils' 'Collision' 'Liability']

In [8]:
# Cardinality analysis.
#card = pd.DataFrame({
#    "col"      : df.columns,
#    "n_unique" : [df[c].nunique(dropna = False) for c in df.columns]
#    }).sort_values("n_unique", ascending = False)
#card.head(20)

# **1. Preprocessing**

## **1.1. Absent Data**

>In the categorical variables, missing values were identified in various formats, as listed in `missing_tokens` (`{"0", "none", "None", "NONE", "NA", "N/A", ""}`).  
>To standardize these cases, all columns of type `object` were selected, leading and trailing whitespaces were removed, and any token present in `missing_tokens` was replaced with `np.nan`.  
>
>No missing values were found in columns of type `int64`.  
>The column `FraudFound_P` contains the value `0`, but it was not modified as it is not of type `object` and therefore was not included in the replacement process.

In [4]:
missing_tokens = {"0", "none", "None", "NONE", "NA", "N/A", ""}

cat_cols = df.select_dtypes(include = ["object"]).columns.tolist()
for c in cat_cols:
    df[c] = df[c].astype(str).str.strip()
    df[c] = df[c].replace({v: np.nan for v in missing_tokens})

In [5]:
print_uniques(df)

ID ['CL00007646' 'CL00009711' 'CL00010809' ... 'CL00007097' 'CL00002875'
 'CL00003330']
Month ['Aug' 'Dec' 'Feb' 'Jun' 'Jan' 'Nov' 'Jul' 'May' 'Oct' 'Sep' 'Mar' 'Apr']
WeekOfMonth [4 2 3 1 5]
DayOfWeek ['Friday' 'Tuesday' 'Sunday' 'Monday' 'Thursday' 'Wednesday' 'Saturday']
Make ['Honda' 'Chevrolet' 'Pontiac' 'Toyota' 'Mazda' 'Ford' 'Accura' 'Mercury'
 'VW' 'Saturn' 'Dodge' 'Saab' 'BMW' 'Nisson' 'Porche' 'Ferrari' 'Jaguar'
 'Mecedes']
AccidentArea ['Urban' 'Rural']
DayOfWeekClaimed ['Monday' 'Wednesday' 'Thursday' 'Tuesday' 'Friday' 'Saturday' 'Sunday'
 nan]
MonthClaimed ['Aug' 'Dec' 'Feb' 'Jul' 'Jan' 'Jun' 'Nov' 'Oct' 'Mar' 'May' 'Sep' 'Apr'
 nan]
WeekOfMonthClaimed [5 3 4 2 1]
Sex ['Male' 'Female']
MaritalStatus ['Married' 'Single' 'Divorced' 'Widow']
Fault ['Policy Holder' 'Third Party']
PolicyType ['Sedan - All Perils' 'Sedan - Collision' 'Sedan - Liability'
 'Sport - Collision' 'Utility - All Perils' 'Utility - Collision'
 'Utility - Liability' 'Sport - All Perils' 'Sport - Liability']
VehicleCategory ['Sedan' 'Sport' 'Utility']
VehiclePrice ['30000 to 39000' '20000 to 29000' 'less than 20000' 'more than 69000'
 '40000 to 59000' '60000 to 69000']
FraudFound_P [0 1]
Deductible [400 500 700 300]
Days_Policy_Accident ['more than 30' nan '1 to 7' '8 to 15' '15 to 30']
Days_Policy_Claim ['more than 30' '15 to 30' '8 to 15' nan]
PastNumberOfClaims ['1' '2 to 4' nan 'more than 4']
AgeOfVehicle ['7 years' '5 years' '6 years' '3 years' 'more than 7' 'new' '2 years'
 '4 years']
AgeOfPolicyHolder ['36 to 40' '31 to 35' '41 to 50' '18 to 20' '51 to 65' 'over 65'
 '26 to 30' '16 to 17' '21 to 25']
PoliceReportFiled ['No' 'Yes']
WitnessPresent ['No' 'Yes']
AgentType ['External' 'Internal']
NumberOfSuppliments ['1 to 2' nan 'more than 5' '3 to 5']
AddressChange_Claim ['4 to 8 years' 'no change' '2 to 3 years' '1 year' 'under 6 months']
NumberOfCars ['2 vehicles' '1 vehicle' '3 to 4' '5 to 8']
Year [1994 1996 1995]
BasePolicy ['All Perils' 'Collision' 'Liability']

In [7]:
# 1) ¿En qué columnas existía cada token?
for tok in ["0","none","NA","N/A",""]:
    cols = [c for c in df.columns if df[c].astype(str).str.strip().eq(tok).any()]
    if cols:
        print(tok, "aparecía en:", cols)

# 2) ¿Cuántos NaN nuevos por columna categórica?
import numpy as np
cat_cols = df.select_dtypes(include="object").columns
nulls = df[cat_cols].isna().sum().sort_values(ascending=False)
print(nulls[nulls>0].head(150))

0 aparecía en: ['FraudFound_P']
NumberOfSuppliments     2306
PastNumberOfClaims      1444
Days_Policy_Accident      23
Days_Policy_Claim          1
DayOfWeekClaimed           1
MonthClaimed               1
dtype: int64

In [ ]:
# Make: corregir marcas
make_map = {
    "Accura": "Acura", "Mecedes": "Mercedes", "Porche": "Porsche",
    "Nisson": "Nissan", "VW": "Volkswagen"
}
df["Make"] = df["Make"].replace(make_map)

# Meses: asegurar consistencia y orden
month_order = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
for col in ["Month","MonthClaimed"]:
    df[col] = pd.Categorical(df[col], categories=month_order, ordered=True)

# Días: asegurar consistencia y orden
dow_order = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for col in ["DayOfWeek","DayOfWeekClaimed"]:
    df[col] = pd.Categorical(df[col], categories=dow_order, ordered=True)

# PolicyType: normalizar espacios y guiones
df["PolicyType"] = df["PolicyType"].str.replace(r"\s+-\s+", " - ", regex=True)

In [ ]:
# VehiclePrice en rangos
price_order = [
    "less than 20000",
    "20000 to 29000",
    "30000 to 39000",
    "40000 to 59000",
    "60000 to 69000",
    "more than 69000",
]
df["VehiclePrice"] = pd.Categorical(df["VehiclePrice"], categories=price_order, ordered=True)

# Days_Policy_Accident / Claim
policy_span_order = ["none", "1 to 7", "8 to 15", "15 to 30", "more than 30"]
for c in ["Days_Policy_Accident", "Days_Policy_Claim"]:
    df[c] = pd.Categorical(df[c], categories=policy_span_order, ordered=True)

# PastNumberOfClaims
past_claims_order = ["none", "1", "2 to 4", "more than 4"]
df["PastNumberOfClaims"] = pd.Categorical(df["PastNumberOfClaims"], categories=past_claims_order, ordered=True)

# AgeOfVehicle
age_vehicle_order = ["new","2 years","3 years","4 years","5 years","6 years","7 years","more than 7"]
df["AgeOfVehicle"] = pd.Categorical(df["AgeOfVehicle"], categories=age_vehicle_order, ordered=True)

# AgeOfPolicyHolder
age_holder_order = ["16 to 17","18 to 20","21 to 25","26 to 30","31 to 35","36 to 40","41 to 50","51 to 65","over 65"]
df["AgeOfPolicyHolder"] = pd.Categorical(df["AgeOfPolicyHolder"], categories=age_holder_order, ordered=True)

# NumberOfSuppliments, AddressChange_Claim, NumberOfCars
suppl_order = ["none","1 to 2","3 to 5","more than 5"]
df["NumberOfSuppliments"] = pd.Categorical(df["NumberOfSuppliments"], categories=suppl_order, ordered=True)

addr_change_order = ["under 6 months","1 year","2 to 3 years","4 to 8 years","no change"]
df["AddressChange_Claim"] = pd.Categorical(df["AddressChange_Claim"], categories=addr_change_order, ordered=True)

cars_order = ["1 vehicle","2 vehicles","3 to 4","5 to 8"]
df["NumberOfCars"] = pd.Categorical(df["NumberOfCars"], categories=cars_order, ordered=True)

In [ ]:
dup_any = df.duplicated().sum()
dup_id = df["ID"].duplicated().sum()
print(f"Duplicados exactos: {dup_any} | Duplicados por ID: {dup_id}")

# si hay duplicados exactos:
if dup_any > 0:
    df = df.drop_duplicates().copy()

In [ ]:
target = "FraudFound_P"
print(df[target].value_counts(normalize=True))

from sklearn.model_selection import train_test_split
train, test = train_test_split(
    df, test_size=0.2, random_state=SEED, stratify=df[target]
)
train.shape, test.shape